<div class="form-group">
<button id="delete" class="btn btn-danger" (click)='DeleteProduct()'>Delete</button>
<button id="update" class="btn btn-warning" (click)='UpdateProduct()'>Update</button>

<fieldset>
    <legend>Item List</legend>
        <table class="table table-bordered">
            <thead>
                <tr><td>Date</td>
                    <td>CategoryName</td>
                    <td>BrandName</td>
                    <td>ProductName</td>
                    <td>ProductQuantity</td>
                    <td>ProductPrice</td>
                    <td>ProductImage</td>
                    <td>ProductDesc</td>
                    <td>Select</td>
                </tr>
            </thead>
            <tbody id="itemtable">
                <tr *ngFor='let product of products'>
                    <td>{{product.Date}}</td>
                    <td>{{product.CategoryName}}</td>
                    <td>{{product.BrandName}}</td>
                    <td>{{product.ProductName}}</td>
                    <td>{{product.ProductQuantity}}</td>
                    <td>{{product.ProductPrice}}</td>
                    <td>{{product.ProductImage}}</td>
                    <td>{{product.ProductDescription}}</td>
                    <td><input type="checkbox"  (click)='SelectedProduct(product.ProductID)'></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>